@media screen and (min-width: 375px) {
    main {
        background-image: url('./images/pattern-background-mobile.svg');
    }

    .component {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {

    main {
        background-image: url('./images/pattern-background-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .component {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .component {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .component {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .component {
        width: 25%;
    }
}